
body{
  margin: 0;
  padding: 0;
}
.drop{
  background-color: rgba(11, 95, 249, 0.67);
  color: white;
  padding: 10px;
  font-size: 14px;
  border: 1px solid red;
  cursor:context-menu;
}
.container{
  position: relative;
  display: inline-block;
}
.content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: red;

}
.content a{
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.container:hover .content{
  display: block;
}
.container:hover .drop{
  background-color: white;
  color: black;
}
.content a:hover{
  background-color: white;
}

.container1{
  display: inline-block;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%,-50%);
}
.content1{
  display: none;
  position: absolute;
  z-index: 1;
}
.container1:hover .content1{
  display: block;
  text-align: center;
}
