h1{
  border: 3px solid  rgba(223, 105, 108, 0.64);
  text-align: center;
}
h2{
  border: 3px solid  rgba(235, 180, 8, 0.45);
  text-align: center;
  position: relative;
  top: -26px;
  left: 10px
}
h3{
  border: 2px solid rgba(145, 57, 203, 0.7);
  position: fixed;
  top: 10px;
  right: 0px;
}
